    Servertiden er : {{servertid}}
    <br/>
    <h2>REST-services - uden Mustache</h2>
    <br/>
    Her kan du prøve <a href="rest/hejverden"/>rest/hejverden</a> - det mest basale eksempel<br/>
    <br/>
    Prøv så <a href="rest/7tabel"/>rest/7tabel</a> (den skal du lave webside til i øvelserne)<br/>
    <br/>
    Prøv så <a href="rest/hejverden2"/>rest/hejverden2</a>En service med parameter - f.eks. <a href="rest/hejverden2?svar=Elefanter"/>rest/hejverden2?svar=Elefanter</a> (det rigtige svar er: 'Hvergang')<br/>
    <br/>
    <h2>Sider med Mustache</h2>
    <br/>
    Søg i dawas adresser: <input onkeyup="hentAdresser();" id="adresse" name="adresse"/>
    <br/>
    <div id="adressecontainer"></div>
    <br/>
    Her kan du prøve en login-side.<br/>
      <input id="brugernavn" name="brugernavn" type="text" />
      <input id="password" name="adgangskode" type="password" />
      <button onclick="doLogin();">Login</button>
    <br/>
    <br/>
    Efter login-siden kommer man til et sted man kan skrive <a href="#" onClick="loadNotes()">noter</a> ind.<br/>
